*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color:rgb(72, 72, 80);
}
.calculator{
    width:400px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: linear-gradient(red,black);
    color: #fff;
    box-shadow: 5px 5px 5px black;
    border-radius: 7px;
}
.calculator h1{
    line-height: 80px;
}
.calculator input{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}
.calculator button{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color:rgb(9, 70, 9);
}
.resultField{
    margin:20px 0;
}